@charset "UTF-8";

/* Page background */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6ef3d6, #3ec7e0);
    font-family: Arial, sans-serif;
}
/* Curved gradient background shapes */
.bg-shape {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.shape1 {
    width: 600px;
    height: 600px;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    top: -150px;
    right: -150px;
}

.shape2 {
    width: 500px;
    height: 500px;
    background: linear-gradient(135deg, #84fab0, #8fd3f4);
    top: 50px;
    right: -100px;
}

.shape3 {
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    top: 200px;
    right: -50px;
}

/* Main Card */
.container {
    width: 850px;
    height: 480px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/* Left Panel */
.left-panel {
    width: 50%;
    background: linear-gradient(135deg, #00c6ff, #00ff9d);
    color: white;
    padding: 60px 40px;
}

.left-panel h1 {
    margin-top: 80px;
    font-size: 32px;
}

.left-panel p {
    margin-top: 15px;
    font-size: 30px;
}

/* Right Panel */
.right-panel {
    width: 50%;
    padding: 60px 40px;
}

.right-panel h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* Inputs */
.right-panel input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
}


.options {
    display: flex;
    justify-content:right;
    font-size: 13px;
    margin-bottom: 20px;
}

.options a {
    text-decoration: none;
    color: #00bfa5;
}

/* Button */
.right-panel button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg, #00c6ff, #00ff9d);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.right-panel button:hover {
    opacity: 0.9;
}

/* Register text */
.register {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.register a {
    color: #00bfa5;
    text-decoration: none;
}

